<h1>Listado de Heores!</h1>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>
    Herpoe borrado <small class="text-danger">{{ deletedHero }}</small>
  </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroes.length > 0"
  class="btn btn-outline-danger"
  (click)="removeLastHeroe()"
>
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let hero of heroes">
    <h2>{{ hero }}</h2>
  </li>
</ul>
